@charset "UTF-8";
.show{
  visibility:  inherit;
  display: inherit;
}
.purple{
  background-color: rgb(211, 137, 241);
}
.purple--reverse{
  background-color:  rgb(229, 191, 245);
}
.textdeco{
  text-decoration: line-through;
}
